@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
:root {
    --main-color: #007cce; 
    --bg-color: #141818;
    --selBackground: #d22a2a;
    --sub-color: #9578d3;
    --text-color: #c2fbe1;
    --command: #ff5f5f;

    color: var(--main-color);
    background: var(--bg-color);
    font-family: 'Fira Code',monospace;
    font-size: 16px;
    
}